.order{
    width: 33%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form input{
    width: 50%;
    height: 35px;
    margin: 15px 0;
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.form button{
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 7px;
    font-size: 20px;
    margin: 20px 0;
}

.order-fin{
    text-align: center;
    margin-top: 100px;
}

.order-fin p{
    margin: 30px 0;
    font-size: 20px;
}

.order-fin a{
    background-color: rgb(109, 74, 167);
    font-size: 20px;
    border-radius: 9px;
    text-decoration: none;
    color: white;
    padding: 14px;
}