.cards{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28vh;
    border: 1px solid white;
    border-radius: 25px;
}

.card-title{
    margin: 10px 0;
    color: rgb(109, 74, 167);
}

.card-img{
    width: 97%;
    margin: 15px 0;
}

.card-desc{
    width: 85%;
}

.card-price{
    font-size: 23px;
}

